body.user_background {
    background-color: #efefef;
}
/*--- style items available ---*/
div.item-available {
    padding-top: 1em;
    float: left;
    width: 60%;
    background-color: #b9b0b0;
    margin: 2em 2em 0;
}

table.main-tables {
    border-collapse: collapse;
    width: 100%;
    background-color: #3b3a30;
}

table.main-tables th,table.main-tables td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table.main-tables tr.orders-row:hover {
    color: black;
    background-color: #b9b0b0;
    cursor: pointer;
}

.oder-data .tool-tip-text {
    visibility: visible;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.oder-data .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

.oder-data:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
}

/*--- style order form ---*/
div.order {
    padding-top: 1em;
    float: left;
    width: 35%;
    background-color: #b9b0b0;
    margin-top: 2em;
}

div.select-item, div.notes {
    width: 100%;
    margin-bottom: 1em;
}

#my_order{
    width: 100%;
    height: 3em;
    background-color: whitesmoke;
    padding: 2px;
    border-radius: .5em;
}

.order-message{
    width: 95%;
    height: 20em;
    padding: 2px;
}

input.btn-make-order {
    padding: 10px 10px;
    width: 100px;
    display: block;
    margin-bottom: 10px;
    background-color: gainsboro;
}

/*--- exceptions of user_profile settings ---*/
label {
    font-size: medium;
    margin: 0 auto auto;
}

div.profile_1 {
    margin: 2em auto;
    width: 100%;
}
div.profile_1 input {
    width: 100%;
    padding: 10px 5px;
}

div.profile_main {
    width: 70%;
    margin: auto;
}

/* If the screen size is 1000px or less, set the font-size of <div> to 6px */
@media only screen and (max-width: 1000px) {
    .navigation-bar{
        height: 180px;
        padding: 3px 0;
    }

    .links {
        padding-top: 5px;
        text-align: right;
        width: 100%;
    }

    .links ul {
        height: 60px;
    }

    .navigation-bar ul li{
        padding: 0 2px;
        height: 20px;
        width: 100%;
    }

    div.item-available {
        padding-top: 1em;
        width: 100%;
        margin: 5em 0 auto;
    }

    div.order {
        padding-top: 1em;
        width: 100%;
        margin-top: 1em;
    }

    div.select-item, div.notes {
        margin-bottom: .5em;
    }

}

select.item_status {
    width: 100%;
}

@media only screen and (max-width: 1300px) {
    div.item-available {
        padding-top: 1em;
        width: 100%;
        margin: 5em 0 auto;
    }

    div.order {
        padding-top: 1em;
        width: 100%;
        margin-top: 1em;
    }

    div.select-item, div.notes {
        margin-bottom: .5em;
    }
}

