/*--- style items available ---*/
div.item-available {
    padding-top: 1em;
    float: left;
    width: 60%;
    background-color: #b9b0b0;
    margin: 2em 2em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #3b3a30;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/*--- style order form ---*/
div.order {
    padding-top: 1em;
    float: left;
    width: 35%;
    background-color: #b9b0b0;
    margin-top: 2em;
}

div.select-item, div.notes, div.order-button {
    width: 100%;
    margin-bottom: 2em;
}

#my_order{
    width: 100%;
    height: 3em;
    background-color: whitesmoke;
    padding: 2px;
    border-radius: .5em;
}

.order-message{
    width: 95%;
    height: 20em;
    padding: 2px;
}

.btn-make-order{
    width: 100%;
    background-color: #c94c4c;
    height: 3em;
    padding: 2px;
    border-radius: .5em;
}

/* If the screen size is 600px or less, set the font-size of <div> to 6px */
@media only screen and (max-width: 1000px) {
    .navigation-bar {
        height: 150px;
        padding: 3px 0;
    }

    .links {
        padding-top: 5px;
        text-align: right;
        width: 100%;
    }

    .links ul {
        height: 60px;
    }

    .navigation-bar ul li {
        padding: 0 2px;
        height: 20px;
        width: 100%;
    }

    div.item-available {
        padding-top: 1em;
        width: 100%;
        margin: 5em 0 auto;
    }

    div.order {
        padding-top: 1em;
        width: 100%;
        margin-top: 1em;
    }

    div.select-item, div.notes, div.order-button {
        margin-bottom: .5em;
    }

}

@media only screen and (max-width: 1300px) {
    div.item-available {
        padding-top: 1em;
        width: 100%;
        margin: 5em 0 auto;
    }

    div.order {
        padding-top: 1em;
        width: 100%;
        margin-top: 1em;
    }

    div.select-item, div.notes, div.order-button {
        margin-bottom: .5em;
    }
}

